.bxlink-external-icon {
  position: absolute;
  top: 48.94rem;
  left: 64.19rem;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.group-icon {
  position: absolute;
  top: 17.5rem;
  left: 56.56rem;
  width: 2rem;
  height: 2.31rem;
}
.sign-up {
  color: var(--color-dodgerblue-200);
}
.dont-have-an-container {
  position: absolute;
  top: 0;
  left: 0;
}
.dont-have-an-account-sign-up {
  position: absolute;
  top: 47.25rem;
  left: 51.94rem;
  width: 11.19rem;
  height: 0.94rem;
  cursor: pointer;
}
.are-you-an-container {
  position: absolute;
  top: 49rem;
  left: 50rem;
}
.component-2-child {
  position: absolute;
  height: 60.96%;
  width: 100%;
  top: 39.56%;
  right: 0;
  bottom: -0.52%;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.password {
  position: absolute;
  top: 62.73%;
  left: 9.35%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-black);
  
}
.forgot-password {
  position: absolute;
  top: 64.29%;
  left: 60.43%;
  color: var(--color-dodgerblue-200);
}
.email,
.log-in1 {
  position: absolute;
  top: 85.63%;
  left: 44.96%;
  font-weight: 600;
}
.email {
  top: 0;
  left: 0.87%;
  font-weight: 500;
}
.textarea,
.textarea-child {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.textarea-child {
  height: 100%;
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.textarea {
  height: 55.62%;
  top: 44.38%;
}
.component-5,
.group-child,
.textarea1 {
  position: absolute;
  width: 82.73%;
  right: 8.63%;
  left: 8.63%;
}
.component-5 {
  height: 15.25%;
  top: 41.91%;
  bottom: 42.84%;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.group-child,
.textarea1 {
  height: 8.33%;
  top: 69.5%;
  bottom: 22.17%;
}
.group-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-dodgerblue-100);
  box-shadow: 0 2px 0#6cbfff inset;
  border: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
}
.log-in2 {
  position: absolute;
  top: 30.68%;
  left: 43.91%;
  font-weight: 600;
}
.log-in-toggle,
.rectangle-parent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.log-in-toggle {
  height: 8.48%;
  width: 82.73%;
  top: 86.16%;
  right: 8.63%;
  bottom: 5.36%;
  left: 8.63%;
  cursor: pointer;
}
.google-icon {
  position: absolute;
  height: 47.64%;
  width: 6.47%;
  top: 26.47%;
  right: 66.55%;
  bottom: 25.89%;
  left: 26.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.log-in-with {
  position: absolute;
  top: 31.76%;
  left: 34.89%;
}
.github-join-button-child,
.google-join-button {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.google-join-button {
  height: 9.83%;
  bottom: 90.17%;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.github-join-button-child {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-300);
}
.log-in-with1 {
  position: absolute;
  top: 31.76%;
  left: 34.89%;
  font-weight: 600;
}
.github-join-button {
  position: absolute;
  height: 9.83%;
  width: 100%;
  top: 12.49%;
  right: 0;
  bottom: 77.67%;
  left: 0;
  font-size: var(--font-size-sm);
}
.facebook-join-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslateblue);
}
.facebook-icon {
  position: absolute;
  height: 47.64%;
  width: 6.47%;
  top: 29.12%;
  right: 66.55%;
  bottom: 23.24%;
  left: 26.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.facebook-join-button {
  position: absolute;
  height: 9.83%;
  width: 100%;
  top: 24.99%;
  right: 0;
  bottom: 65.18%;
  left: 0;
  font-size: var(--font-size-sm);
}
.inputstandard-formgroup,
.inputstandard-formgroup1 {
  width: 82.73%;
  border: 0;
  background-color: transparent;
  position: absolute;
  height: 8.48%;
  top: 48.67%;
  right: 8.63%;
  bottom: 42.84%;
  left: 8.63%;
}
.inputstandard-formgroup1 {
  height: 8.33%;
  top: 69.5%;
  bottom: 22.17%;
}
.component-2 {
  position: absolute;
  top: 21.13rem;
  left: 48.81rem;
  width: 17.38rem;
  height: 24.01rem;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.top-menu-child {
  position: absolute;
  height: 96.15%;
  width: 100%;
  top: 3.85%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
}
.top-menu-item {
  position: absolute;
  height: 65.38%;
  width: 28.33%;
  top: 19.23%;
  right: 27.4%;
  bottom: 15.38%;
  left: 44.27%;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
}
.search {
  position: absolute;
  top: 38.46%;
  left: 46.3%;
  color: var(--color-gray-200);
}
.quillsearch-alt-icon {
  position: absolute;
  height: 48.08%;
  width: 1.35%;
  top: 30.77%;
  right: 54.11%;
  bottom: 21.15%;
  left: 44.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.log-in-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-aliceblue);
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.25) inset;
  border: 1px solid var(--color-lightsteelblue);
  box-sizing: border-box;
}
.log-in3 {
  position: absolute;
  top: 24.24%;
  left: 20.6%;
  font-weight: 300;
}
.log-in-button {
  position: absolute;
  height: 63.46%;
  width: 3.03%;
  top: 21.15%;
  right: 23.95%;
  bottom: 15.38%;
  left: 73.02%;
  font-size: var(--font-size-sm);
}
.sign-up-button-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-dodgerblue-100);
  box-shadow: 0 2px 0 rgba(251, 251, 251, 0.84) inset;
  border: 1px solid var(--color-dodgerblue-100);
  box-sizing: border-box;
}
.sign-up1 {
  position: absolute;
  top: 27.27%;
  left: 13.73%;
  font-size: var(--font-size-sm);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
}
.sign-up-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 63.46%;
  width: 3.03%;
  top: 21.15%;
  right: 20.66%;
  bottom: 15.38%;
  left: 76.3%;
}
.top-menu-icon-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
}
.akar-iconsthree-line-horizont {
  position: absolute;
  height: 48%;
  width: 62.5%;
  top: 26%;
  right: 18.75%;
  bottom: 26%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.top-menu-icon,
.top-menu-inner {
  position: absolute;
  height: 96.15%;
  width: 2.5%;
  top: 3.85%;
  right: 77.19%;
  bottom: 0;
  left: 20.31%;
}
.top-menu-inner {
  height: 3.85%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 96.15%;
  left: 0;
  background-color: var(--color-darkorange);
}
.stack-overflow-png-0 {
  position: absolute;
  height: 76%;
  width: 80.67%;
  top: 6%;
  right: 9.33%;
  bottom: 18%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.about-icon-child,
.stackoverflow-icon {
  position: absolute;
  height: 96.15%;
  width: 7.81%;
  top: 3.85%;
  right: 69.38%;
  bottom: 0;
  left: 22.81%;
}
.about-icon-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
}
.about {
  position: absolute;
  top: 18.52%;
  left: 16.92%;
  font-weight: 300;
}
.about-icon {
  position: absolute;
  height: 51.92%;
  width: 3.39%;
  top: 21.15%;
  right: 65.99%;
  bottom: 26.92%;
  left: 30.63%;
}
.products {
  position: absolute;
  top: 20%;
  left: 11.25%;
  font-weight: 300;
}
.product-icon {
  position: absolute;
  height: 57.69%;
  width: 4.17%;
  top: 21.15%;
  right: 61.67%;
  bottom: 21.15%;
  left: 34.17%;
}
.for-teams {
  position: absolute;
  top: 20%;
  left: 14%;
  font-weight: 300;
}
.for-teams-icon {
  position: absolute;
  height: 57.69%;
  width: 5.21%;
  top: 21.15%;
  right: 56.46%;
  bottom: 21.15%;
  left: 38.33%;
}
.top-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 120rem;
  height: 3.25rem;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.log-in {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 67.5rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
